numpy>=1.22.4
scipy>=1.11.2
tensorflow>=2.9.1
tensorflow-addons>=0.12.1
zernike==0.0.31
opencv-python>=4.6.0.66
pillow>=10.0.1
galsim>=2.4.11
astropy>=5.3.3
matplotlib>=3.7.2
seaborn>=0.12
pytest-black>=0.3.12
pytest-cov>=4.1.0
pytest-emoji>=0.2.0
pytest-pydocstyle>=2.3.2
